<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>使用Thymeleaf实现Ajax</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
</head>
<body>
<div>
    Province:
    <select id="province">
        <option></option>
        <option th:each="province:${provinces}" th:text="${province.province}">四川</option>
    </select>
    City:
    <select id="city" th:fragment="city">
        <option th:each="city:${cities}" th:text="${city.city}"></option>
    </select>
</div>
</body>
<script>
    $("#province").change(function () {
        var province = $(this).val();
        // alert(province);
        $("#city").load("/postThy",{province:province});
    });
</script>
</html>